button{
    width: 35px;
    height: 25px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 12.091px;
font-weight: 400;
line-height: 128.023%;}

.sign{
    border-radius: 7px;
border: 0.864px solid #D66567;
display: flex;
width: 114px;
height: 39px;
padding: 8.636px 13.818px;
justify-content: center;
align-items: center;
gap: 9px;
background: #BC4749;
}
